*test{
    margin: 0px;
    padding: 0px;
}
.one{
    background-color: red;
    height: 300px;

    width: 300px;
    margin-top: 20px;
    text-align: center;
}
.two{
    background-color: yellow;
    margin-left: 300px;
    margin-bottom: 200px;
    width: 300px;
    height: 150px;
    text-align: left;
    
}
.three{
    background-color: rgb(241, 44, 120);
    margin-top: -155px;
    margin-left: 200px;
    width: 100px;
    height: 300px;
    text-align: center;
}
.four{
    background-color: darkgreen;
    margin-top: 100px;
    margin-bottom: 300px;
    width: 300px;
    height: 150px;
    text-align: left;
}
.five{
    background-color: orange;
    margin-top: 250px;
    margin-left: -600px;
    width: 500px;
    height: 100px;
    text-align: center;
}
.six{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin-left: 500px;
    margin-top: -33px;
   
}
.seven{
    background-color: rgb(96, 0, 185);
    margin-left: 100px;
    margin-top: -55px;
    width: 100px;
    height: 200px;
}
.eight{
    background-color: rgba(165, 115, 115, 0.966);
    width: 600px;
    height: 100px;
    margin-top: 102px;
    margin-left: -600px;
    

}